@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 576px) {
  header {
    width: 100%;
    height: 80px;
    background-color: pink;
  }
  header nav {
    /*
        浮動對齊的問題 float
        1.#Logo與#MenuBtn物件的父框架nav，無寬度
        2.nav的父框架header，高度消失(展開)
        解決方法
        1.nav的父框架header，給予寬度與高度的設定，或是nav給予寬度與高度的設定
        2.清除浮動狀態，由nav設定
        */
    /*width: $w10*10;
        background-color: rgb(240, 125, 17);
        // 解決方法一:給予高度；二擇一，寫入header或是nav
        height:65px;
        */
  }
  header nav #Logo {
    float: left;
  }
  header nav .BtnBox {
    display: none;
  }
  header nav #Icon {
    display: none;
  }
  header nav #MenuBtn {
    float: left;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  header {
    width: 100%;
    background-color: cornflowerblue;
  }
  header nav .BtnBox {
    display: none;
  }
  header nav #Icon {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    background-color: #ffef0d;
  }
  header nav .BtnBox {
    display: none;
  }
  header nav #Icon {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 100%;
    background-color: #6ab92a;
  }
  header nav .BtnBox {
    display: block;
  }
  header nav #Icon {
    display: block;
  }
  header nav #MenuBtn {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 100%;
    background-color: #5b4af0;
  }
  header nav .BtnBox {
    display: block;
  }
  header nav #Icon {
    display: block;
  }
  header nav #MenuBtn {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  header {
    width: 100%;
    background-color: #9b54eb;
  }
  header nav .BtnBox {
    display: block;
  }
  header nav #Icon {
    display: block;
  }
  header nav #MenuBtn {
    display: none;
  }
  footer address {
    display: none;
  }
}
