@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

/*文字尺寸 單位px (固定值) em (百分比，會疊加父框架設定的值) rem (百分比，不會疊加父框架設定的值)
em 基礎為 1em=16px; rem 基礎為 1rem=16px */
@media screen and (max-width: 576px) {
  header {
    width: 100vw;
    background-color: pink;
  }
  header nav {
    /*
        浮動對齊的問題 float
        1.#Logo與#MenuBtn物件的父框架nav，無寬度
        2.nav的父框架header，高度消失(展開)
        解決方法
        1.nav的父框架header，給予寬度與高度的設定，或是nav給予寬度與高度的設定
        2.清除浮動狀態，由nav設定
        3.利用圖片高度撐開父框架的高
        */
    /*width: $w10*10;
        background-color: rgb(240, 125, 17);
        // 解決方法一:給予高度；二擇一，寫入header或是nav
        height:65px;(解決方法一，最後選用解決方法二，故註記)
        */
  }
  header nav #Logo {
    width: 85vw;
  }
  header nav #MenuBtn {
    width: 15vw;
  }
  header nav #Logo {
    background-color: #d4a0f7;
    float: left;
  }
  header nav .BtnBox {
    display: none;
  }
  header nav #Icon {
    display: none;
  }
  header nav #MenuBtn {
    float: left;
  }
  header nav .clear {
    clear: both;
  }
  footer {
    margin-top: 2rem;
  }
  footer hr {
    margin-bottom: 2rem;
  }
  footer nav ul {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    background-color: darkcyan;
  }
  footer p {
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
  }
  footer address {
    display: none;
  }
  #Main {
    background-color: #98c2c4;
  }
  #Main #Banner {
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  #Main #Banner .Btn {
    width: 20px;
    height: 12vh;
    text-align: center;
    line-height: 12vh;
    top: 14vh;
    font-size: 1.2rem;
    position: absolute;
    z-index: 5;
    border-radius: 15px;
  }
  #Main #Banner .LeftBtn {
    left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner .RightBtn {
    right: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner #ImgBox {
    width: 100vw;
    list-style-type: none;
    padding-bottom: 350px;
    background-color: #228b71;
  }
  #Main #Banner #ImgBox li {
    width: 100vw;
    float: left;
    position: absolute;
    font-size: 72px;
    text-align: center;
    padding-bottom: 250px;
  }
  #Main #Banner #ImgBox .Item01 {
    width: 100vw;
    background-image: url(../../images/Banner/005.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
  #Main #Banner #ImgBox .Item02 {
    width: 100vw;
    background-image: url(../../images/Banner/004.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
  #Main #Banner #ImgBox .Item03 {
    width: 100vw;
    background-image: url(../../images/Banner/003.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
  #Main #Banner #ImgBox .Item04 {
    width: 100vw;
    background-image: url(../../images/Banner/002.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
  #Main #Banner #ImgBox .Item05 {
    width: 100vw;
    background-image: url(../../images/Banner/001.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
}

@media screen and (min-width: 576px) {
  header {
    width: 100vw;
    background-color: #a0adf8;
  }
  header nav {
    /*
        浮動對齊的問題 float
        1.#Logo與#MenuBtn物件的父框架nav，無寬度
        2.nav的父框架header，高度消失(展開)
        解決方法
        1.nav的父框架header，給予寬度與高度的設定，或是nav給予寬度與高度的設定
        2.清除浮動狀態，由nav設定
        3.利用圖片高度撐開父框架的高
        */
    /*width: $w10*10;
        background-color: rgb(240, 125, 17);
        // 解決方法一:給予高度；二擇一，寫入header或是nav
        height:65px;(解決方法一，最後選用解決方法二，故註記)
        */
  }
  header nav #Logo {
    width: 85vw;
  }
  header nav #MenuBtn {
    width: 15vw;
  }
  header nav #Logo {
    background-color: #d4a0f7;
    float: left;
  }
  header nav .BtnBox {
    display: none;
  }
  header nav #Icon {
    display: none;
  }
  header nav #MenuBtn {
    float: left;
  }
  header nav .clear {
    clear: both;
  }
  footer {
    margin-top: 2rem;
  }
  footer hr {
    margin-bottom: 2rem;
  }
  footer nav ul {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    background-color: #7f97bb;
  }
  footer p {
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
  }
  footer address {
    display: none;
  }
  #Main {
    background-color: #98c2c4;
  }
  #Main #Banner {
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  #Main #Banner .Btn {
    width: 20px;
    height: 12vh;
    text-align: center;
    line-height: 12vh;
    top: 14vh;
    font-size: 1.2rem;
    position: absolute;
    z-index: 5;
    border-radius: 15px;
  }
  #Main #Banner .LeftBtn {
    left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner .RightBtn {
    right: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner #ImgBox {
    width: 100vw;
    list-style-type: none;
    padding-bottom: 53vh;
    background-color: #223b8b;
  }
  #Main #Banner #ImgBox li {
    width: 100vw;
    float: left;
    position: absolute;
    font-size: 72px;
    text-align: center;
    padding-bottom: 40vh;
  }
  #Main #Banner #ImgBox .Item01 {
    width: 100vw;
    background-image: url(../../images/Banner/005.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
  #Main #Banner #ImgBox .Item02 {
    width: 100vw;
    background-image: url(../../images/Banner/004.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
  #Main #Banner #ImgBox .Item03 {
    width: 100vw;
    background-image: url(../../images/Banner/003.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
  #Main #Banner #ImgBox .Item04 {
    width: 100vw;
    background-image: url(../../images/Banner/002.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
  #Main #Banner #ImgBox .Item05 {
    width: 100vw;
    background-image: url(../../images/Banner/001.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 100vw;
    background-color: #d08aff;
  }
  header nav {
    /*
        浮動對齊的問題 float
        1.#Logo與#MenuBtn物件的父框架nav，無寬度
        2.nav的父框架header，高度消失(展開)
        解決方法
        1.nav的父框架header，給予寬度與高度的設定，或是nav給予寬度與高度的設定
        2.清除浮動狀態，由nav設定
        3.利用圖片高度撐開父框架的高
        */
    /*width: $w10*10;
        background-color: rgb(240, 125, 17);
        // 解決方法一:給予高度；二擇一，寫入header或是nav
        height:65px;(解決方法一，最後選用解決方法二，故註記)
        */
  }
  header nav #Logo {
    width: 85vw;
  }
  header nav #MenuBtn {
    width: 15vw;
  }
  header nav #Logo {
    background-color: #a0e6f7;
    float: left;
  }
  header nav .BtnBox {
    display: none;
  }
  header nav #Icon {
    display: none;
  }
  header nav #MenuBtn {
    float: left;
  }
  header nav .clear {
    clear: both;
  }
  footer address {
    display: none;
  }
  #Main {
    background-color: #98c2c4;
  }
  #Main #Banner {
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  #Main #Banner .Btn {
    width: 20px;
    height: 12vh;
    text-align: center;
    line-height: 12vh;
    top: 14vh;
    font-size: 1.2rem;
    position: absolute;
    z-index: 5;
    border-radius: 15px;
  }
  #Main #Banner .LeftBtn {
    left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner .RightBtn {
    right: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner #ImgBox {
    width: 100vw;
    list-style-type: none;
    padding-bottom: 48.5vh;
    background-color: #223b8b;
  }
  #Main #Banner #ImgBox li {
    width: 100vw;
    float: left;
    position: absolute;
    font-size: 72px;
    text-align: center;
    padding-bottom: 40vh;
  }
  #Main #Banner #ImgBox .Item01 {
    width: 100vw;
    background-image: url(../../images/Banner/005.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
  #Main #Banner #ImgBox .Item02 {
    width: 100vw;
    background-image: url(../../images/Banner/004.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
  #Main #Banner #ImgBox .Item03 {
    width: 100vw;
    background-image: url(../../images/Banner/003.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
  #Main #Banner #ImgBox .Item04 {
    width: 100vw;
    background-image: url(../../images/Banner/002.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
  #Main #Banner #ImgBox .Item05 {
    width: 100vw;
    background-image: url(../../images/Banner/001.jpg);
    background-repeat: no-repeat;
    background-position: Center;
    background-size: cover;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 100vw;
    background-color: #4bf5ca;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header nav #Logo {
    width: 70vw;
  }
  header nav #Icon {
    width: 30vw;
  }
  header nav #Icon {
    display: block;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .BtnBox {
    display: block;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  header nav .BtnBox ul {
    display: none;
  }
  header #MenuBtn {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 100vw;
    background-color: #5b4af0;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  header {
    width: 100vw;
    background-color: #9b54eb;
  }
  footer address {
    display: none;
  }
}
