* {
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 576px) {
  header {
    width: 100%;
  }
  header nav .BtnBox {
    display: none;
  }
  header nav .BtnBox li {
    background-color: burlywood;
  }
  header nav #Icon {
    display: none;
  }
}
