#Main{
    background-color: rgb(152, 194, 196);
    
    #Banner{
        width: $w10*10;
        // 溢位設定，將超出的可視範圍給隱藏，類似遮色片
        overflow: hidden;
        // 定位點:相對定位
        position: relative;

        .Btn{
            width: 20px;
            height: 95px;
            // 12/05更改banner高度從比例計算高度改成固定px高度
            // height: 6vh * 2;
            // 水平置中
            text-align: center;
            // 垂直置中 高度=行距
            line-height: 95px;
            // 12/05更改banner高度從比例計算高度改成固定px高度
            // line-height: 6vh * 2;
            // top: 20vh - 6vh;
            // 左右按鈕，物件往下推算高度;(物件的父框架的高/2)-(按鈕高度/2) + 單位
            top: (335/2) - (95/2)+ px; 
            font-size: $Trem * 1.2;
            // @include DN; (註記掉，不須隱藏了，要來調整<>在Banner上的位置
            // 定位點 (疊到圖片001...005的圖片上方)
            position: absolute;
            // 移動階層 圖層 (不要被圖片001...005給蓋住了) z軸 表達<>和圖片001...005的階層關係
            z-index: 5;
            @include Rounded (15);
        }
        .LeftBtn{
            // 通常不會整個貼在左邊界上，所以給2.5vw的空間
            left: 2.5vw;
            background-color: rgba(255,255,255,0.25);
        }
        .RightBtn{
            // 單獨呼叫方向 右邊為0 (物件靠右對齊);float浮點對齊，配合上下左右方向推動；通常不會整個貼在右邊界上，所以給2.5vw的空間
            right: 2.5vw;
            background-color: rgba(255,255,255,0.25);
        }
        #ImgBox{
            $ImgPadding: 335px;
            // 父框架的padding 335px-子框架的padding 250px= 相差值 $Differ
            $Differ: 85px;

            // 想更改Banner區的高度，必須把區域倍數放大*25，但是放大到需要的高度，寬度就超出版位了。
            // 此時使用溢位設定overflow: hidden，可將超出的可視範圍給隱藏，類似遮色片。
            // 最後記得連同li清單的圖片一起放大25倍，讓比例與版位相同。
            width:$w10*10;
            @include DNli;
            // 內間距 設定 下方間距，當成圖片的高度，單位 % 或者 vh
            // padding-bottom: 335px; 
            // Padding bottom的值改為算式
            padding-bottom:$ImgPadding;
            
            background-color: rgb(34, 139, 113);
            li{
                width:$w10*10;
                float:left;
                // 定位點:相對定位；1.單獨呼叫時，原點(0,0)會位於畫面(可視範圍)的左上角
                // 2.物件的副框架呼叫相對定位(position: relative)時，功能設為[重新定位原點至父框架]
                // 定位點 絕對定位 (把所有圖都疊在一起)
                position:absolute;
                // 移動圖片位置，讓置中的商品照在放大25倍後，可以出現在Banner中央
                // 因為不同尺寸的手機會有不同的中心位置，這個方式無法逐一計算，所以要利用背景圖片的方式修改
                // margin-left: -235px;  (以前的做法，現在無法適應不同尺寸裝置了，教完就註記掉)
                font-size: 72px;
                text-align: center;
                // 內間距 設定 下方間距，當成圖片的高度，單位 % 或者 vh (會隨著裝置而改變) 800px * 0.26= 208px, 固定值 px
                // padding-bottom: 250px;
                // 子框架的padding=父框架的padding-相差值$Differ
                padding-bottom: $ImgPadding - $Differ; 
            }
            .Item01{
                
                @include BPhoto ( Banner, "005.jpg", Center, cover);

                // 背景圖片
                // background-image: url(../../images/Banner/002.jpg);
                // 不重覆
                // background-repeat: no-repeat;
                // 背景圖片 置中對齊
                // background-position: center;
                // 背景圖片 尺寸
                // background-size: cover;
            }
            .Item02{
                // 英文字在數字前，數字被判定為[文字]；數字在英文字或底線( _ )前，數字被判定為數字
                // [0]為開頭，scss會自動刪除
                // 數字要變為文字，需轉換為[字串]，字串用雙引號包覆

                @include BPhoto ( Banner, "004.jpg", Center, cover);
            }
            .Item03{
                @include BPhoto ( Banner, "003.jpg", Center, cover);
            }
            .Item04{
                @include BPhoto ( Banner, "002.jpg", Center, cover);
            }
            .Item05{
                @include BPhoto ( Banner, "001.jpg", Center, cover);
            }
        }
    }
    >#NewArrivals{
        >h1{
            // 文字尺寸
            font-size: $Trem * 2 + $Trem*0.3;
            // 標題置中
            text-align: center;
            // 內間距
            padding: {
                top: 15px;
                bottom: 15px;
            }
        }
        background-image: url(../../images/BG/001.jpg);

        > article{
            >.NCommodity{
                // 寬度
                // width: $w10 * 8;
                width: $w10 * 9;
                // 外間距
                margin: {
                    bottom: 20px;
                }
                // 背景顏色
                background-color: white;
                // 陰影 X軸 Y軸 模糊 顏色
                box-shadow:5px 5px 5px rgba(0,0,0,0.25);
    
                // 計算式
                $TW: $W1P * 7;
                $NW: $W1P * 10 - $TW;
                
                $TFS: $Trem*1.7;
                $NFS: $Trem*1.1;
    
                >#TitleBox{
                    // 寬度
                    width: $W1P * 8.5;
    
                    // 彈性佈局
                    display:flex;
                    // 換行
                    flex-wrap:wrap;
                    // 隱藏項目符號
                    list-style-type:none;
                    // 字距
                    letter-spacing: 2px;
                    // 與外框的距離，設定為內間距
                    padding: {
                        top: 15px;
                        bottom: 10px;
                    }
                    
                    >.Title{
                        width: $TW;
                        font-size: $TFS;
                    }
                    >.Number{
                        width: $NW;
                        font-size: $NFS;
                        text-align: right;
                        // 計算 Title與 Number 內間距的差
                        padding: {
                            top: $TFS - $NFS;
                        }
                    }
                    >.Text{
                        width:$W1P * 10;
                        text-align: right;
                    }
    
                }
                >.Images{
                    // 寬度
                    // width: 280px;
                    width: $W1P * 9.2;
                    // 高度 設定絕對高, 不會隨著裝置高度變動
                    // height: 230px;
                    // 外間距
                    margin: {
                        bottom: 10px;
                    }
                    // 圓角矩形 邊框設定轉角的角度
                    border-radius: 15px;
                    // background-color: rgb(253, 44, 85);
                    
                    >a{
                        >img{
                            // 圖片邊框 線段的粗細 線段的樣式 (實線) 顏色
                            border: 2px solid rgb( 68, 7, 7);
                            border-radius: 15px;
                        }
                    }
    
                }
    
                >.NNameBox{
                    width: $W1P * 9;
                    // 彈性佈局 橫向排版
                    display: flex;
                    // 外間距
                    margin: {
                        bottom: 20px;
                    }
                    // background-color: yellow;
                    >h3{
                        width: $TW + 10;
                        // 文字尺寸
                        font-size: $Trem * 1.4;
                    }
                    >li{
                        width: $NW - 10;
                        // 隱藏項目符號
                        list-style-type: none;
                        }
                }
                >.Brief{
                    // 寬度
                    width: $W1P * 8.5;
                    // 文字對齊 左右切齊
                    text-align: justify;
                    // 外間距
                    margin: {
                        bottom: 10px;
                    }
                }
                >#PriceBox{
                    // 寬度
                    width: $W1P * 9;
                    // 隱藏項目符號
                    list-style-type: none;
                    // 彈性佈局
                    display:flex;
                    // 靠近父框架的上下間距用內間距padding去推，而不是外間距margin
                    padding: {
                        bottom:10px;
                    }
                    // background-color: orangered;
    
                    >.OriginalPrice{
                        // 寬度
                        width: $W1P * 3.5;
                        // 文字尺寸
                        font-size: $Trem * 0.9;
                        // 內間距
                        padding: {
                            top: $Trem * 0.3;
                        }
                        >span{
                            padding: {
                                left: 5px;
                                right: 5px;
                            }
                            // 文字顏色
                            color:blue;
                        }
                    }
                    >.SalePrice{
                        // 寬度
                        width: $W1P * 4.5;
                        // 文字尺寸
                        font-size:$Trem * 1.2;
                        >span{
                            // em or rem的尺寸，基於根目錄之下的值為基準
                            font-size: $Trem * 1.7;
                            padding: {
                                left: 5px;
                                right: 5px;
                            }
                            // 文字顏色
                            color: brown;
                            // 文字粗細
                            font-weight: 600;
                        };
                    }
                    >.ShoppingCart{
                        // 寬度
                        width: $W1P * 2;
                    }
                }
            }
        }
        // more
        >.more{
            width: $W1P * 8;
            // 文字對齊靠右
            text-align: right;
            // 隱藏項目符號
            @include DNli;
            // 文字尺寸
            font-size: $Trem*1.3;
            // 英文轉換為大寫

            // 字距
            letter-spacing: 2px;
            // 外間距
            // margin: {bottom:15px;}
            // 內間距
            padding: {
                bottom:15px;
            }
            // background-color: burlywood;
            >a{
                // 寬度 高度 px 設定 內間距 padding 上下 左右
                padding: 5px 30px;
                // 顯示方式 文字方塊
                display: inline-block;
                background-color: rgb( 175, 55, 0);
                // 取消連結底線樣式
                text-decoration: none;
                // 顏色
                color:white;
                // 圓角矩形
                border-radius: 20px;
            }
        }
    }
    >#Bestseller{
        >h1{
            // 文字尺寸
            font-size: $Trem * 2 + $Trem*0.3;
            // 標題置中
            text-align: center;
            // 內間距
            padding: {
                top: 15px;
                bottom: 15px;
            }
        }
        background-image: url(../../images/BG/002.jpg);

        > article{
            >.BCommdity{
                // 寬度
                // width: $w10 * 8;
                width: $w10 * 9;
                // 外間距
                margin: {
                    bottom: 20px;
                }
                // 背景顏色
                background-color: white;
                // 陰影 X軸 Y軸 模糊 顏色
                box-shadow:5px 5px 5px rgba(0,0,0,0.25);
    
                // 計算式
                $TW: $W1P * 7;
                $NW: $W1P * 10 - $TW;
                
                $TFS: $Trem*1.7;
                $NFS: $Trem*1.1;
    
                >.Null{
                    height: 30px;
                }
    
                >.Images{
                    // 寬度
                    // width: 280px;
                    width: $W1P * 9.2;
                    // 高度 設定絕對高, 不會隨著裝置高度變動
                    // height: 230px;
                    // 外間距
                    margin: {
                        bottom: 10px;
                    }
                    // 圓角矩形 邊框設定轉角的角度
                    border-radius: 15px;
                    // background-color: rgb(253, 44, 85);
                    
                    >a{
                        >img{
                            // 圖片邊框 線段的粗細 線段的樣式 (實線) 顏色
                            border: 2px solid rgb( 68, 7, 7);
                            border-radius: 15px;
                        }
                    }
    
                }
    
                >.LName{
                    width: $W1P * 9;
                    // 彈性佈局 橫向排版
                    display: flex;
                    // 外間距
                    margin: {
                        bottom: 20px;
                    }
                    // background-color: yellow;
                    >h3{
                        width: $TW + 10;
                        // 文字尺寸
                        font-size: $Trem * 1.4;
                    }
                    >li{
                        width: $NW - 10;
                        // 隱藏項目符號
                        list-style-type: none;
                        }
                }
                >.Brief{
                    // 寬度
                    width: $W1P * 8.5;
                    // 文字對齊 左右切齊
                    text-align: justify;
                    // 內間距
                    padding: {
                        bottom: 15px;
                    }
                }
            }
        }
        // more
        >.more{
            width: $W1P*8;
            // 文字對齊靠右
            text-align: right;
            // 隱藏項目符號
            @include DNli;
            // 文字尺寸
            font-size: $Trem*1.1;
            // 英文轉換為大寫

            // 字距
            letter-spacing: 2px;
            // 外間距
            // margin: {bottom:15px;}
            // 內間距
            padding: {
                bottom: 15px;
            }
            // background-color: burlywood;
            >a{
                // 寬度 高度 px 設定 內間距 padding 上下 左右
                padding: 5px 30px;
                // 顯示方式 文字方塊
                display: inline-block;
                background-color: rgb( 175, 55, 0);
                // 取消連結底線樣式
                text-decoration: none;
                // 顏色
                color:white;
                // 圓角矩形
                border-radius: 20px;
            }
        }
    }
}